.home-container {
    position: relative;
    min-height: calc(100vh - 160px);
    /* Ajuste para Navbar y Footer */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Evita que los círculos creen scroll */
}

.home-content {
    display: flex;
    align-items: center;
    gap: 4rem;
    z-index: 2;
}

.home-image img {
    max-width: 450px;
    height: auto;
}

.home-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.home-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Círculos decorativos */
.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.circle-pink {
    width: 400px;
    height: 400px;
    background-color: var(--circle-1);
    bottom: -100px;
    left: -50px;
}

.circle-blue-top {
    width: 300px;
    height: 300px;
    background-color: var(--circle-2-3);
    top: 10%;
    left: 15%;
}

/* Responsive móvil */
@media (max-width: 768px) {
    .home-content {
        flex-direction: column-reverse;
        text-align: center;
        padding: 2rem;
    }

    .home-image {
        display: none;
    }
}