.footer {
    background-color: var(--bg-darker);
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: var(--font-family);
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-links a:hover {
    color: var(--accent-blue);
}

.footer-social {
    display: flex;
    gap: 2rem;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.social-item:hover span {
    color: var(--accent-blue);
}

/* Adaptación para el móvil Responsive */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
}